<form [formGroup]="form">
  <div class="form-input">
    <p>Personal quality:</p>
    <input type="text" formControlName="adjective1" required>
  </div>
  <div class="form-input">
    <p>Personal quality:</p>
    <input type="text" formControlName="adjective2" required>
  </div>
  <div class="form-input">
    <p>Adjective:</p>
    <input type="text" formControlName="adjective3" required>
  </div>
  <div class="form-input">
    <p>Adjective (emotion - like happy):</p>
    <input type="text" formControlName="adjective4" required>
  </div>
  <div class="form-input">
    <p>Adverb:</p>
    <input type="text" formControlName="adverb" required>
  </div>
  <div class="form-input">
    <p>City:</p>
    <input type="text" formControlName="city" required>
  </div>
  <div class="form-input">
    <p>Name of your friend:</p>
    <input type="text" formControlName="nameOfFriend" required>
  </div>
  <button (click)="handleSubmit()">Submit</button>
  <p *ngIf="invalid" [innerHTML]="'Bruh fill out the form'"></p>
</form>
