<form [formGroup]="form">
  <div class="form-input">
    <p>Name:</p>
    <input type="text" formControlName="name" required>
  </div>
  <div class="form-input">
    <p>Adjective:</p>
    <input type="text" formControlName="adjective1" required>
  </div>
  <div class="form-input">
    <p>Adjective:</p>
    <input type="text" formControlName="adjective2" required>
  </div>
  <div class="form-input">
    <p>Adverb:</p>
    <input type="text" formControlName="adverb" required>
  </div>
  <div class="form-input">
    <p>City:</p>
    <input type="text" formControlName="city" required>
  </div>
  <div class="form-input">
    <p>Name of your friend:</p>
    <input type="text" formControlName="friend" required>
  </div>
  <button (click)="handleSubmit()">Submit</button>
  <p *ngIf="invalid">Bruh, fill out the form</p>
</form>
